purple = #a970ff
pink = #ff7070
green = #70ff91

meteo-sun = "\e901"
meteo-cloudy = "\e907"
meteo-cloud2 = "\e90d"
meteo-lightning = "\e90e"
meteo-rainy = "\e90f"
meteo-rainy2 = "\e910"
meteo-snowy2 = "\e914"
meteo-cloudy2 = "\e916"